.unsplash{
  padding: 100px 0;
  .container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__slide{
   border-radius: 8px;
    background-color: rgba(169, 169, 169, 0.22);
    min-height: 515px;
    height: 100%;
  }
  &__card{
    padding: 20px;

  }
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 3px;
  }
  &__card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__card-link{
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
    text-decoration: none;
  }
  &__card-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__card-first-name{
    color: #4E4F52;
    font-size: 18px;
    line-height: 130%;
    font-weight: 500;
    &:hover{
      color: orangered;
    }
  }
  &__card-avatar{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  &__card-likes{
    .likes{
      font-size: 18px;
      line-height: 130%;
    }
  }
}
.wp-block-acf-unsplash-slider .unsplash{
  .swiper-wrapper{
      display: flex;
    overflow: scroll;
  }
  &__image{
    width: 400px;
    height: 400px;
    aspect-ratio: 4/3;
    max-width: unset;
  }
}