<section class="unsplash">
    <div class="container">
        <div class="unsplash__content">
            <h2 class="unsplash__title">{{ blockTitle }}</h2>
            <p class="unsplash__description">{{ blockDescription }}</p>
            <div class="unsplash__slider swiper">
                <div class="swiper-wrapper">
                    {% for item in items %}
                        <div class="swiper-slide unsplash__slide">
                            <div class="unsplash__card">
                                <img class="unsplash__image" src="{{ item.urls.regular }}" alt="">
                                <div class="unsplash__card-bottom">
                                    <a href="{{ item.user.links.html }}" class="unsplash__card-link">
                                        <img loading="lazy" width="32" height="32" class="unsplash__card-avatar" src="{{ item.user.profile_image.small }}" alt="">
                                        <div class="unsplash__card-bio">
                                        <span class="unsplash__card-first-name">
                                            {{ item.user.first_name }} {{ item.user.last_name }}
                                        </span>
                                        </div>
                                    </a>
                                    <div class="unsplash__card-likes">
                                    <span class="likes">
                                        likes: {{ item.user.total_likes }}
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
